/* commen style start here */
.display-flex{
          display: flex;
}

.commin-width{
  max-width: 1140px;
          margin: 0 auto;
}

/* commen style end here */
 
/*header style start here */

.navbar{
        
}

.brand{
          font-size: 2.8rem;
          color: palevioletred;
          font-weight: 700;
}
.navbar{
          justify-content: space-between;
         
}

.nav-links{

           align-items: center;
          
}

.nav-item{
          list-style: none;
          margin-right: 30px;
}

.nav-link{
        
          text-decoration: none;
          font-weight: 500;
         
        
}
/* banner style start here */
.banner{
          max-width: 800px;
          margin: 0 auto;
}
.banner{
          display: flex;

          margin-top: 100px;
}

.banner-style{
          color:#E95A08;
}
.banner-detils{
          width:400px;
}

.banner-img{
          width: 400px;
}

img{
          width: 100%;
}

/* banner style start here */

/*header style end here */

/* main style start here */
/* main style end here */
/* plan section start here */
.pln-conten{
          text-align: center;
}

.plan-img-continer{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 30px;
}

.input{
    width: 100%;
}
    p,input{
    text-align: center;
}
.input{
    background-color:#E95A08;
    border: none;
    /* color:green !important; */
    padding: 10px;

}  
.p-weight{
    
    font-weight:700 ;
}


 input, placeholder{
    color:white;
}     

/* plan section end here */

/* .latest-deals-continer{
  height: 500px;
} */
 .latest-deals-continer{
  margin-bottom:30px;

 }
 .deals-conten{
  text-align: center;
 }

.latest-deals-continer img{
  width: 100%;
  height: 100%;
  
}
.div-1{
  width: 40%;
}
.div-1 img{

  height: 50%;
 
}
.div-2 img{

  height: 100%;


}

.div-2{

  width: 60%;
  margin: 10px;
}


  /*Flower & Plants Lover section style start here */
.flower-conten{
          margin-top: 50px;
            position: relative;
}
.flower-detils{
    padding: 14px;
}

.imgs{
          width: 50%;
            position: relative;
}
.img-1{
          width: 400px;
        
}

.img-2{
          width: 100px;
          position: absolute;
          top: -45px;
          right: -20px;
          
}


.join-section{
  width: 100%;
  position: relative;
}

.join-1{

  position: relative;

}

.join-btn{
  position: absolute;
  top: 150px;
  left: 200px;

}
button{
  background-color: #E95A08;
  position: relative;
  left: -5px;
  border: none;
}
  /*Flower & Plants Lover section style end here*/
/* media screen style start here*/
@media screen and (max-width :576px) {

        /* navbar style start here */
           .hidden{
                    visibility: hidden;
          }

          .no-hidden{
                    position: relative;
                    right: 20px;
          }
        /* navbar style end here */

          .banner{
                
          flex-direction: column-reverse;
}

.banner-img{
        width: 100%;
              justify-content: center;

}

.banner-detils{

     width: 100%;
              justify-content: center;

}



.pln-conten{
          text-align: center;
}

.plan-img-continer{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
}
      
  .flower-conten{
          flex-direction: column;
}

.img-2{
          visibility: hidden;
}

.imgs{
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.join-section{
  width: 100%;
  position: relative;
}

.join-1{

  position: relative;

}

.join-btn{
  position: absolute;
  top: 50px;
  left: 200px;

}
button{
  background-color: #E95A08;
  position: relative;
  left:-5px;
  border: none;




}

/* .latest-deals-continer img{
  width: 100%;
  height: 100%; */
  

.latest-deals-continer{
  flex-direction: column;
}

.div-1 img{
  width: 576px;
  border-radius: 10px;
}

.div-2 img{
  width: 576px;
  border-radius: 15px;
}


}

/* media screen style end here*/

